.the-menu[data-v-31c6073b] {
  //   display: none;
  height: 100vh;
  overflow: hidden;
  pointer-events: auto;
  transform: translateZ(0);
  width: 100vw;
  z-index: var(--z-menu);
}
.underlay .graphic[data-v-31c6073b] {
  background: linear-gradient(90deg, #fff 27.97%, hsla(0, 0%, 100%, 0.75));
  opacity: 0.85;
}
.container[data-v-31c6073b] {
  align-items: center;
  border-radius: var(--menu-radius);
  color: #fff;
  display: flex;
  flex-direction: row;
  height: calc(100% - var(--menu-pad) * 2);
  justify-content: center;
  left: var(--menu-pad);
  position: absolute;
  position: relative;
  text-transform: uppercase;
  top: var(--menu-pad);
  width: -moz-fit-content;
  width: fit-content;
  .content {
    flex: 1;
    height: 100%;
    position: relative;
    width: 60rem;
  }
  .content .content-inner,
  .content .content-outer {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .content .section.close {
    border-bottom: none;
  }
  .section.close {
    height: 6rem;
  }
  .content .section {
    align-items: center;
    align-items: stretch;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: flex-start;
    padding: 2.5rem;
    width: 100%;
  }
  .btn-close {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .icon-close {
    width: 15px;
    pointer-events: none;
  }
  .section.nav {
    flex: 1;
    padding-top: 3.7rem;
  }
  .content .left {
    width: 14.5rem;
  }
  .content .right {
    flex: 1;
  }
  .dot-caption {
    position: relative;
  }
  .section.nav .right {
    align-items: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
  }
}
.dot[data-v-52142dbe] {
  position: relative;
  top: -0.1em;
}
.dot[data-v-5da3ac80] {
  background: currentColor;
  display: inline-block;
  height: 0.5rem;
  margin-right: 9px;
  max-height: 0.5rem;
  max-width: 0.5rem;
  min-height: 0.5rem;
  min-width: 0.5rem;
  width: 0.5rem;
}
.link-hover.disabled[data-v-c9d7fb4d] {
  display: contents;
}
.link-hover[data-v-52142dbe] {
  color: currentColor;
}
.link-hover[data-v-c9d7fb4d] {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}
.link-hover.disabled .bg[data-v-c9d7fb4d] {
  display: none;
}
.bg[data-v-c9d7fb4d] {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(-101%);
  width: 100%;
}
.content[data-v-c9d7fb4d] {
  display: inline-block;
  max-width: 100%;
  position: relative;
}
.spacer[data-v-a07065fc] {
  max-width: 100%;
  opacity: 0;
}
.animation[data-v-a07065fc] {
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
}
.menu-nav-item[data-v-a6d4705c] {
  border-radius: 0.26rem;
  display: inline-block;
  margin-bottom: 0.9rem;
  padding: 0.3rem 1.6rem 0.3rem 0.6rem;
  position: relative;
  .bg {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translateY(-0.2rem);
    width: 100%;
  }
  .graphic {
    background: #c0fb50;
    border-radius: 0.26rem;
  }
  .corner[data-v-a6d4705c] {
    bottom: -2px;
    height: 2rem;
    position: absolute;
    right: -2px;
    width: 2rem;
  }
  .label {
    color: #000;
    font-family: ABCWhytePlus;
    font-size: 6.4rem;
    font-style: normal;
    font-variation-settings: "opsz" 0.4;
    font-weight: 650;
    letter-spacing: -0.07em;
    line-height: 0.85;
    position: relative;
  }
  .extra {
    color: var(--cl-green);
    left: 100%;
    margin-left: 0.9rem;
    position: absolute;
    top: 0;
  }
}
.menu-nav-item[data-v-a6d4705c].active.bg {
  opacity: 1;
}
.type-caption2 {
  font-feature-settings: "zero" on;
  font-family: IBMPlexMono;
  font-size: 0.9rem;
  font-variation-settings: "opsz" 0;
  font-weight: 450;
  letter-spacing: -0.02em;
  line-height: 1.1;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}
