:root {
  --sideMargin: var(--menu-pad, 2rem);
  --headerHeight: var(--menu-height, 5rem);
  --sideNavWidth: var(--menu-width, 7rem);
  --btnHeight: 4rem;
  --blockPadding: 4rem;
  --borderRadius: 1rem;
  --topMargin: calc(var(--sideMargin) + var(--headerHeight));
  --100ui: 993px;
  --100vh: 993px;
  --z-frame: 100;
  --z-footer: 200;
  --z-overlays: 300;
  --z-resize-overlays: 350;
  --z-loader: 400;
  --z-menu: 500;
  --z-console: 600;
  --z-debug: 1000;
  --vh100max: 100vh;
  --vh100: 100vh;
  --vh100min: 100vh;
  --jsvh100min: 100vh;
  --roughMin: calc(100vh - 30vw);
  --safe100min: max(var(--roughMin), var(--jsvh100min));
  --radius: 1rem;
  --overlap: 2rem;
  --parallax: 4rem;
  --line-light: hsla(0, 0%, 100%, 0.2);
  --line-dark: rgba(0, 0, 0, 0.1);
  --line-thickness: 1px;
  --menu-width: 67px;
  --menu-height: 51px;
  --menu-pad: 20px;
  --menu-radius: 10px;
  --menu-submenu: 0px;
  --menu-top: calc(var(--menu-pad) + var(--menu-height));
  --menu-bottom: calc(var(--menu-pad));
  --menu-left: calc(var(--menu-pad) + var(--menu-width));
  --menu-right: calc(var(--menu-pad));

  --color: #000;
  --colorLines: var(--line-dark);
  --colorOpposite: #fff;
  --cl-debug: hsla(0, 0%, 100%, 0.3);
  --cl-error: #b83e35;
  --cl-black: #000;
  --cl-white: #fff;
  --cl-green: #c0fb50;
  --cl-lavender: #968adf;
}

.flex-center,
.flex-row,
[flex-row=""],
[flex~="row"] {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.full {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pointer-events-none {
  pointer-events: none;
}
button {
  -webkit-tap-highlight-color: transparent;
  background: none;
  cursor: pointer;
}
button,
input {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  padding: 0;
  text-transform: inherit;
}
.fixed {
  position: fixed;
}
