.homeLaunch {
  color: #000;
  height: 100%;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: -1;
}
.homeSection {
  contain: content;
  opacity: 0;
  pointer-events: none;
}

.homeLaunch__inner {
  height: calc(var(--100ui, 100vh));
}
.homeLaunch__grid {
  display: grid;
  height: 100%;
}
.homeLaunch__title {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: -0.1em;
  line-height: 0.8;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
}

.dark.line--bottom,
.dark.line--cross,
.dark.line--diagonal,
.dark.line--left,
.dark.line--right,
.dark.line--top,
.darkTheme .line--bottom,
.darkTheme .line--cross,
.darkTheme .line--diagonal,
.darkTheme .line--left,
.darkTheme .line--right,
.darkTheme .line--top,
.darkTheme .lineBase,
.lineBase.dark {
  background-color: var(--line-dark);
}
.homeLaunch__gridItem {
  position: relative;
}
.caption {
  align-items: flex-start;
  display: flex;
  left: 2rem;
  position: absolute;
  top: 2rem;
}
.type-caption2 {
  font-feature-settings: "zero" on;
  font-family: IBMPlexMono;
  font-size: 0.7rem;
  font-variation-settings: "opsz" 0;
  font-weight: 450;
  letter-spacing: -0.02em;
  line-height: 1.1;
  text-transform: uppercase;
}
.homeLaunch__gridItem .caption {
  left: var(--blockPadding);
  top: var(--blockPadding);
}
.caption__dot {
  background-color: currentColor;
  height: 4px;
  margin-right: 0.6rem;
  margin-top: 0.2rem;
  width: 4px;
}

.caption__text {
  white-space: pre-line;
}

.homeLaunch__launchBtn {
  position: absolute;
}
.type-body1 {
  font-feature-settings: "zero" on;
  //   font-family: ABCWhytePlus;
  font-size: 1.2rem;
  font-variation-settings: "opsz" 0;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.3;
}
.homeLaunch__btnWrapper {
  margin-top: 2rem;
}
.sectionInner {
  padding: var(--sideMargin);
  padding-top: calc(var(--sideMargin) + var(--headerHeight));
}

.homeLaunch__overflow {
  height: 100%;
  overflow: hidden;
}
.homeLaunch__gridItem {
  position: relative;
}

.line--bottom {
  bottom: 0;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
.homeLaunch__line {
  color: #0003;
}

@media only screen and (min-width: 1600px) {
  .caption__dot {
    height: 5px;
    width: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .sectionInner {
    padding-left: calc(var(--sideMargin) + var(--sideNavWidth));
  }
  .homeLaunch__inner {
    padding-left: calc(var(--sideMargin) + var(--sideNavWidth));
  }
  .homeLaunch--buy .homeLaunch__grid {
    align-content: space-between;
    grid-template-rows: 20vw 1fr;
  }
  .homeLaunch__title {
    font-size: 19vw;
    left: -3rem;
    top: -2rem;
  }
  .homeLaunch__launchBtn {
    bottom: var(--blockPadding);
    left: var(--blockPadding);
    width: 30rem;
  }
}
