html *,
html :after,
html :before {
  box-sizing: inherit;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  text-transform: inherit;
  padding: 0;
}
button {
  -webkit-tap-highlight-color: transparent;
  background: none;
  cursor: pointer;
}

hr {
  border: none;
  display: block;
  margin: 0;
}
svg {
  fill: currentColor;
}
