.project {
	position: relative;
	&-item {
		position: relative;
		z-index: 99;
		height: 100vh;
		width: 100vw;
		pointer-events: none;
	}

	&-item-two {
		height: 400vh;
		position: relative;
	}

	&-model {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 12;
		perspective: 1000px;
		transform-style: preserve-3d;
		// perspective: 1000px;
		&-inner {
			display: block;
			width: 100%;
			height: 100%;
			transform-style: preserve-3d;
		}

		&-mask {
			position: relative;
			z-index: 1;
			width: 100%;
			height: 100%;
			overflow: hidden;
			-webkit-mask-image: url(../../../public/home/mask.png);
			mask-image: url(../../../public/home/mask.png);
			-webkit-mask-size: 100%;
			mask-size: 100%;
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			-webkit-mask-position: center;
			mask-position: center;
			background-color: rgb(161, 79, 198);
			// transition: all .2s ease-in-out;
		}

		&-bg {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 120%;
			height: 120%;
			transform: translate(-50%, -50%);
			.inner {
				display: block;
				width: 100%;
				height: 100%;
				position: relative;
				z-index: 1;
				transform: matrix3d(
					1,
					0,
					0,
					var(--x-translate),
					0,
					1,
					0,
					var(--y-translate),
					0,
					0,
					1,
					0,
					0,
					0,
					0,
					1
				);
				transition: 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53);
				&::before {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgb(161, 79, 198);
					opacity: 0.5;
				}
			}
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-avatar {
			position: absolute;
			bottom: 15%;
			left: 50%;
			width: 70%;
			transform: translate(-50%, 0);
			z-index: 2;
			.inner {
				--x-translate: 0;
				--y-translate: 0;
				transform: matrix3d(
					1,
					0,
					0,
					var(--x-translate),
					0,
					1,
					0,
					var(--y-translate),
					0,
					0,
					1,
					0,
					0,
					0,
					0,
					1
				);
				transition: 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53);
			}
			img {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}

	&-item-trigger {
		position: absolute;
		top: 24%;
		left: 0;
		width: 100%;
		height: 28%;
		// background-color:violet;
		z-index: 1;
	}

	&-item-trigger-ani {
		position: absolute;
		bottom: 40%;
		left: 0;
		width: 100%;
		height: 300px;
		// background-color: violet;
		z-index: 2;
	}

	.trigger-key-one {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 60%;
		// background-color: darkgray;
	}
	.trigger-key-two {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 40%;
		// background-color: bisque;
	}

	.skew {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		// overflow: hidden;
		--x-translate: 0;
		--y-translate: 0;
		perspective: 1000px;
		transform-style: preserve-3d;
		&:hover {
			.skew__item {
				transform: matrix3d(
					1,
					0,
					0,
					var(--x-translate),
					0,
					1,
					0,
					var(--y-translate),
					0,
					0,
					1,
					0,
					0,
					0,
					0,
					1
				);
			}
		}
		&__item {
			width: 60vw;
			max-width: 500px;
			perspective: 1000px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			transition: 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53);
			&:hover {
				transition: 0.4s ease-out;
			}
		}
	}

	.container {
		padding: 0 3.2rem;
	}

	.project-model-re {
		position: relative;
		z-index: 99;
	}

	.text-model {
		position: absolute;
		top: 26%;
		left: 10%;
		width: 100%;
		height: fit-content;
		z-index: 99;
		display: flex;
		align-items: center;
		gap: 8px;
		color: #fff;
		font-size: 20px;
		&.style-pri {
			top: 5%;
			left: 0%;
			.char {
				font-size: 16px;
			}
		}
		.handle {
			width: 10px;
			height: 10px;
		}
		.char {
			font-size: 20px;
			color: #fff;
		}
	}
}

.intro {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	color: #fff;
	pointer-events: none;
	&-desc {
		position: absolute;
		width: 25%;
		top: 10%;
		left: 7rem;
		font-size: 16px;
		line-height: 1.5;
	}

	&-list {
		position: absolute;
		z-index: 10;
		bottom: 5%;
		left: 50%;
		width: calc(100% - 6.4rem);
		display: flex;
		flex-direction: column;
		transform: translateX(-50%);
		padding: 0 10rem;
		pointer-events: none;
	}

	&-item {
		position: relative;
		z-index: 1;
		&:nth-child(1) {
			margin: 0 auto;
		}
		&:nth-child(2) {
			margin-left: auto;
		}
		&:nth-child(3) {
			margin-right: auto;
		}
	}

	&-number {
		font-size: 16px;
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-100%, -24%);
	}

	&-tt {
		font-size: 11.05vw;
		font-weight: 700;
		line-height: 1;
		letter-spacing: -10px;
	}
}

.about {
	position: static;
	// margin-top: 100vh;
	pointer-events: none;
	position: sticky;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 100vh;
	z-index: 2;
	// background-color: #fff;
	color: #000;
	&-wrap {
		display: flex;
		flex-wrap: wrap;
		padding-top: 70px;
		height: 100vh;
	}
	&-left {
		width: 67%;
		height: 100%;
	}
	&-tt {
		position: relative;
		padding: 40px;
		z-index: 1;
		// border-right: .1rem solid #e6e6e6;
		// border-bottom: .1rem solid #e6e6e6;
		.txt {
			font-size: 3.2rem;
			font-weight: 650;
			letter-spacing: -0.07em;
			line-height: 0.9;
			text-transform: uppercase;
			display: block;
			&:nth-child(1) {
				padding-left: 4rem;
			}
		}
		.number {
			position: absolute;
			top: 40px;
			left: 50px;
			font-size: 12px;
			.inner {
				position: relative;
				z-index: 1;
				&::before {
					content: "";
					position: absolute;
					top: 3px;
					left: -10px;
					display: block;
					width: 5px;
					height: 5px;
					background-color: #000;
				}
			}
		}
	}
	&-bot {
		height: 60%;
		padding: 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		// border-right: 1px solid #e6e6e6;
		.test {
			// background-color: yellowgreen;
			width: 35%;
			height: fit-content;
		}
	}
	&-bot-image {
		width: 30%;
		height: auto;
		margin-top: 4rem;
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&-desc {
		font-size: 14px;
		width: 15%;
		position: absolute;
		bottom: 5rem;
	}
	&-right {
		width: 32%;
		// position: fixed;
		top: 0;
		right: 5rem;
		height: 80%;
		&-inner {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
		}
		&-image {
			position: relative;
			width: 100%;
			padding-bottom: 140%;
			overflow: hidden;
			img {
				object-fit: cover;
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		&-model {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			.inner {
				width: 100%;
				height: 100%;
				position: relative;
				&::before {
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100vw;
					height: 100vw;
					transform: translate(-50%, -50%);
					background-color: rgb(161, 79, 198);
					opacity: 0.3;
				}
			}
		}
		&-avatar {
			position: absolute;
			width: 100%;
			height: auto;
			left: 50%;
			bottom: 0%;
			transform: translateX(-50%);
		}
	}
}

.block-shape {
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: 100%;

	.shape {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		mix-blend-mode: screen;
		background: #fff;
		perspective: 1000px;
		transform-style: preserve-3d;
		.scale {
			transform-style: preserve-3d;
		}
		.img {
			width: 32rem;
			height: 39rem;
			position: relative;
			svg {
				width: 100%;
				height: 100%;
			}
		}

		.hsc-img-path {
			fill: black; /* Thay đổi màu fill thành đen */
		}
	}
}
