.the-frame[data-v-1a4c32fd] {
  height: 100vh;
  pointer-events: none;
  width: 100%;
  z-index: var(--z-frame);
}
.the-frame-layer[data-v-e52dd2d3] {
  --color: #000;
  --colorLines: var(--line-dark);
  --colorOpposite: #fff;
  color: var(--color);
  pointer-events: none;
}
.mask[data-v-e52dd2d3] {
  overflow: hidden;
}

.pad {
  padding: var(--menu-pad);
}
.content[data-v-e52dd2d3] {
  height: 100%;
  position: relative;
  width: 100%;
  will-change: transform;
}

.line-outer[data-v-e52dd2d3] {
  border: var(--line-thickness) solid var(--colorLines);
  border-radius: var(--menu-radius);
}
.top[data-v-e52dd2d3] {
  align-items: center;
  border-bottom: 1;
  display: flex;
  flex-direction: row;
  height: var(--menu-height);
  justify-content: center;
  position: relative;
}

.top .hamburger[data-v-e52dd2d3] {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 67px;
}
.top .hamburger .btn-burger[data-v-e52dd2d3] {
  height: 100%;
  width: 100%;
}

.btn-burger .icon-burger[data-v-b51d620c] {
  stroke: currentColor;
  width: 27px;
}

.top .bar[data-v-e52dd2d3] {
  flex: 1;
  height: 100%;
  position: relative;
}

.the-frame-progress[data-v-31cee5f4] {
  overflow: hidden;
}

.progress[data-v-31cee5f4] {
  background: currentColor;
  height: 100%;
  opacity: 0.06;
  transform-origin: left center;
  width: 100%;
  will-change: transform;
}

.line[data-v-31cee5f4] {
  border-right: 1px solid var(--colorLines);
  height: 100%;
  transform-origin: left center;
  width: 100%;
  will-change: transform;
}
.the-frame-submenu[data-v-a2fb1176] {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.group[data-v-a2fb1176] {
  font-feature-settings: "zero" on;
  align-items: center;
  display: flex;
  flex-direction: row;
  //   font-family: IBMPlexMono;
  font-size: 11px;
  font-style: normal;
  font-weight: 450;
  justify-content: center;
  justify-content: space-between;
  letter-spacing: -0.02em;
  line-height: 1;
  pointer-events: auto;
  text-transform: uppercase;
  width: 100%;
}
.group[data-v-a2fb1176] {
  height: 100%;
}
.group-home button[data-v-a2fb1176] {
  align-items: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
  text-transform: uppercase;
  //   .dot-caption {
  //     opacity: 0;
  //   }
}
// .group-home button[data-v-a2fb1176] .active {
//   .dot-caption {
//     opacity: 1;
//   }
// }
.dot-caption[data-v-52142dbe] {
  position: relative;
}
.dot[data-v-5da3ac80] {
  background: currentColor;
  display: inline-block;
  height: 0.5rem;
  margin-right: 9px;
  max-height: 0.5rem;
  max-width: 0.5rem;
  min-height: 0.5rem;
  min-width: 0.5rem;
  width: 0.5rem;
}
.link-hover[data-v-c9d7fb4d] {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}
.link-hover[data-v-52142dbe] {
  color: currentColor;
}
.bg[data-v-c9d7fb4d] {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(-101%);
  width: 100%;
}

.content[data-v-c9d7fb4d] {
  display: inline-block;
  max-width: 100%;
  position: relative;
}
.top .line[data-v-e52dd2d3] {
  background: var(--colorLines);
  bottom: 0;
  height: var(--line-thickness);
  left: 0;
  position: absolute;
  width: 100%;
}

.hacky-text[data-v-a07065fc] {
  position: relative;
}
.spacer[data-v-a07065fc] {
  max-width: 100%;
  opacity: 0;
}
.animation[data-v-a07065fc] {
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
}

.submenu[data-v-a2fb1176] {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  .dot {
    opacity: 0;
  }
}
.submenu[data-v-a2fb1176] button {
  opacity: 0.4;
}
.submenu > .active[data-v-a2fb1176] {
  opacity: 1;
  .dot {
    opacity: 1;
  }
}
.left[data-v-e52dd2d3] {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: var(--menu-width);
}
.left .icon-mark[data-v-e52dd2d3] {
  width: 39px;
}
.left .bottom[data-v-e52dd2d3] {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.left button[data-v-e52dd2d3] {
  aspect-ratio: 1/1;
  position: relative;
  width: 100%;
}

.btn-audio[data-v-3a1111f8] {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: auto;
  position: relative;
  will-change: transform;
}

.icon-console[data-v-d2c597f9] {
  stroke: currentColor;
  fill: none;
  width: 18px;
}

.left .line[data-v-e52dd2d3] {
  background: var(--colorLines);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--line-thickness);
}
